.card_wrapper {
  display: flex;
  justify-content: space-around;
  grid-gap: 10px;
  flex-wrap: wrap;
}

.card_wrapper_long {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 5px;
}

@media (max-width: 767px) {
  .card_wrapper {
    flex-direction: column;
    align-items: center;
  }
}
