.btn {
  padding: 10px 15px;
  background-color: #ffffff;
  color: #ec6e4c;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #ec6e4c;
  border-color: #d8461e;
  color: #fff;
}

.btn_active {
  background-color: #ec6e4c;
  border-color: #d8461e;
  color: #ffffff;
}

@media (max-width: 575px) {
  .btn {
    padding: 5px 10px;
  }
}
